.info {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  width: 100%;
}

.icon {
  display: block;

  width: 6rem;
  height: 7.5rem;
}

.name {
  width: 100%;
  margin: 0;
  margin-top: 0.75rem;

  text-align: center;
  word-break: break-all;
}

.meta {
  margin: 0;

  color: #5d6f88;

  font-size: 0.875rem;
  line-height: 175%;
}

.size {
  margin: 0;
}
