.form {
  input {
    width: 100%;
    height: 1.5rem;
    padding: 1rem 0.75rem;

    transition: all 500ms ease-in-out;

    color: #3b3b3b;
    border: 0.0625rem solid #eaeaea;
    border-radius: 0.1875rem;
    outline: none;

    font-size: 0.875rem;
    line-height: 1.71;
    &::placeholder {
      color: #939393;
    }
    &:hover {
      border-color: #1c68f3;
    }
  }

  label {
    width: 100%;
    max-width: 18rem;
    margin-bottom: 0.625rem;
  }

  label p {
    display: flex;
    align-items: center;

    width: 100%;
    margin: 0.25rem 0 0;

    transition: all 500ms ease-in-out;

    color: #3b3b3b;

    font-size: 0.75rem;
    line-height: 1.75;

    > svg {
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
    }

    &.failed {
      color: #f4637d;
    }

    &::before {
      display: inline-block;

      vertical-align: text-bottom;
    }
  }

  button {
    margin-bottom: 3rem;
  }
}
