#upgrade {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: table;

  max-width: 50em;
  margin: auto 1em;

  user-select: none;
  text-align: center;

  color: #000;
  border-radius: 0.5em;
  background: #ffee44;

  font-family: monospace, monospace;
}

#upgrade p {
  margin: 0.75em;
}

#upgrade a {
  color: #000;
}
