#upgrade {
  position: absolute;
  top: 50%;
  left: 50%;

  margin-right: -50%;

  transform: translate(-50%, -50%);
}

#upgrade main {
  display: table;

  margin: 1em;

  user-select: none;
  text-align: center;

  color: #000;
  border-radius: 0.5em;
  background: #ffee44;

  font-family: monospace, monospace;
}

#upgrade p {
  margin: 0.75em;
}

#upgrade a {
  color: #000;
}
